@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400&display=swap');
.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-img-top{
  height: 300px;
  overflow: hidden;
}

.card{
  box-shadow: 5px 5px 10px black;
  margin: 0 40px;
}

.cardi{
  width: 240px;
  box-shadow: 5px 5px 10px black;
  background-color: rgba(0, 0, 0, 0.8);

}

.card-body{
  color: white;
  text-shadow: 1px 1px 1px ghostwhite;
}

.card-body1{
  text-align: center;
}

.home,.about{
  text-align: justify;
  font-family: 'Maven Pro', sans-serif;
  font-size: 23px;
  text-shadow: 1px 1px 1px gray;
  padding: 0 80px;
  margin: 0 50px !important;
}

.nav-link{
  font-size: 20px;
  font-weight: 400;
}

.navbar-brand{
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px !important;
}

table{
  border: 1px solid white;
  width: 95%;
  margin: 0px 20px 0px 20px;
  border-radius: 5px;
  box-sizing: content-box;
}

table td{
  font-size: 10px;
  margin: 40px 20px 0px 20px;
  background-color: rgb(7, 7, 7);
  color: white;
  border: 4px solid  rgba(44, 42, 42, 0.795);
  text-align: center;
  /* padding: 3px 0px; */
  
}
canvas{
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  background-color: rgba(44, 42, 42, 0.795);
  height: 100vh;
  width: 100vw;
}


